// src/css/quasar.variables.scss

$primary   : #298632;
$secondary : #2379c9;
$accent    : #7947b3;

$dark      : #333333;
$dark-page : #121212;

$positive  : #298632;
$negative  : #c11d1d;
$info      : #a1e3f0;
$warning   : #f5e022;
